*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    font-size: 62.5%;
}

/* .container{
    width: 100%;
    height: 100vh;
    background-color: #12121F;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.calendar{
    width: 30rem;
    height: 35rem;
    background-color: #222227;    
    border: 1px black solid;
}
.month{
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    
    

}
.month i{
    font-size: 2.5rem;
    cursor: pointer;

}
.month h1{
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: .5rem;

}
.month p{
    font-size: 1.2rem;
}

.weekdays{
    width: 100%;
    height: 2rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;

}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(29.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;

}
.days div{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(25.2rem/7);
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background-color 0.2s;
}

.days div:hover:not(.today){
    background-color: #262626;
    border: .2rem solid #777;
    cursor: pointer;
}

.prev-date, .next-date{
    opacity: 0.5;
}

.today{
    background-color: lightslategray;
    color:black; 
}
