*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.log-page-container{
height: 100vh;
width: 100vh;
display: flex;
align-items: center;

}

.log{

    background-color: grey;
    display: flex;
    width: 60%;
  
}