* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    height: 100vh;
}

.habits-background {
    width: 40%;
    height: auto;
    background: #D9D9D9;
    border-radius: 44px;
}

.light-gray {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.habit{
    margin-top: 10%;
    width: 100%;
    margin-left: 10%;
    display: flex;
    column-gap: 10%;
    margin-bottom: 10%;
}

.progress-bar {
    width: 70%;
}

.habit-name {
    z-index: 1000;
    position: absolute;
    margin-left: 13%;
}
.add-habit-button svg{
    width: 40px;
    height: 40px;
    fill: #D9D9D9;
    cursor: pointer;
}
.add-habit-button svg:hover{
    width: 40px;
    height: 40px;
    fill: #D9D9D9;
    transform: scale(1.2);
}
.login-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.form {
    width: 20%;
    height: auto;
    background: #D9D9D9;
    border-radius: 44px;
}
.register-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 5%;
}
.login-form{
    visibility: hidden;
}
.hide{
    visibility: hidden;
}
.button-40 {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .1rem .4rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .button-40:hover {
    background-color: #374151;
  }
  
  .button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .button-40 {
      padding: .1rem .4rem;
    }
}
.log-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 44px;
    padding: 20px;
    width: auto;
    height: auto;

}
.log-form input{
    width: 30%;
}
.yes-checkbox{
    width: 145px;
    margin-left: 20px;
}
.reflection{
    width: 150px;
    z-index: 0;
}
.log-notes{
    min-width: fit-content;
    text-align: center;
}
.single-habit-container img{
    width: 15vw;
    height: auto;
    margin: 5%;
  }
  .navbar-placeholder{
    height: 5vh;
    background-color: black;
    color: white;
  }
  .header-text{
    margin-top: 1%;
    text-align: center;
    font-size: 2.1rem;
  }
  .single-habit-container{
    display: grid;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    border: 1px solid black;
    margin-left: 33%;
    border-radius: 22px;
    width: fit-content;
    background-color: grey;
    padding: 2%;
    grid-template-columns: 1fr 1fr ;
    row-gap: 2%;
    justify-items: center;
  }
  .single-habit-container div{
    padding: 5%;
    border: 1px solid black;
    width: 80%;
    height: auto;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-align: center;
  }
  /*copied from temp*/
  .nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    background-color: rgb(41,41,41);
    color: white;
    font-family: 'Sulphur Point', Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 50px;
  }
  .dropbtn {
    background-color: rgb(41,41,41);
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}