* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    height: 100vh;
}

.habits-background {
    margin-top: 100px;
    width: 40%;
    height: auto;
    background: #D9D9D9;
    border-radius: 44px;
}
@media screen and (max-width: 600px){
  .habits-background{
    width: 80%;
    height: auto;
  }
}
.light-gray {
    color: #000 !important;
    background-color: #f1f1f1 !important
}
.habit-progress{
  width:420px;
  cursor: pointer;
  border: 1px black solid;
  height: 20px;
}
.my-habit-progress{
  background-color: white;
  height: 18px;
  width: 25px;
  font-size: 15px;
}

.habit{
    margin-top: 10%;
    /* width: 100%; */
    margin-left: 10%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 10%;
}
@media screen and (max-width: 600px){
  .habit{
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width:900px) {
  .habits-background{
    width:60%;
  }
  .habit{
    width: auto;
  }
}

@media screen and (max-width: 1000px){
  .habits-background{
    width: 60%;
  }
}
.edit-buttons{
  display: flex;
  column-gap: 10px;
}

.edit-buttons p:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.habit-name {
    z-index: 1000;
    position: absolute;
    margin-left: 13%;
}
.add-habit-button svg{
    width: 40px;
    height: 40px;
    fill: #D9D9D9;
    cursor: pointer;
}
.add-habit-button svg:hover{
    width: 40px;
    height: 40px;
    fill: #D9D9D9;
    transform: scale(1.2);
}
.login-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.register-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 5%;
}
.login-form{
    visibility: hidden;
}
.hide{
    visibility: hidden;
}
.button-40 {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .1rem .4rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .button-40:hover {
    background-color: #374151;
  }
  
  .button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  /* @media (min-width: 768px) {
    .button-40 {
      padding: .1rem .4rem;
    }
} */
.log-container, .new-habit-container, .habit-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px){
  .new-habit-container, .log-container{
    width: 80%;
    height: auto;
  }
  
}
@media screen and (max-width: 1000px) {
  .new-habit-container, .log-container{
    height: auto;
  }
  
}
.log-form, .habit-form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 44px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 400px;
    height: auto;
   
}
.log-form input{
    width: 30%;
}
.yes-checkbox{
    width: 145px;
    margin-left: 20px;
}
.reflection{
    width: 150px;
    z-index: 0;
}
.log-notes{
    min-width: fit-content;
    text-align: center;
}
.single-habit-container img{
    width: 15vw;
    height: auto;
    margin: 5%;
  }
  .navbar-placeholder{
    height: 5vh;
    background-color: black;
    color: white;
  }
  .header-text{
    margin-top: 1%;
    text-align: center;
    font-size: 2.1rem;
  }
  .single-habit-container{
    display: grid;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    border: 1px solid black;
    margin-left: 33%;
    border-radius: 22px;
    width: fit-content;
    background-color: grey;
    padding: 2%;
    grid-template-columns: 1fr 1fr ;
    row-gap: 2%;
    justify-items: center;
  }
  .single-habit-container div{
    padding: 5%;
    border: 1px solid black;
    width: 80%;
    height: auto;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-align: center;
  }
  /*copied from temp*/
  .nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    background-color: rgb(41,41,41);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 50px;
  }
  .dropbtn {
    background-color: rgb(41,41,41);
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.goal{
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.new-habit-save-button{
  margin-top: 30px;
}
.form--hidden{
  display: none;
}
.cancel-button{
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.cancel-button:hover{
  font-size: 15px;
  color: black;
  cursor: pointer;
}
.progress-bar {
  width: 150px;
  
  border: 1.2px solid black;
  height: 10px;
}
#my-bar{
  width: 15px;
  height: 8px;
  background-color: white;
}
.back-button {
  margin-right: 80%;
  cursor: pointer;
}
.complete{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.current-streak{
  display: flex;
  column-gap: 7px;
  align-items: center;
}
.habit-logs{
  display: none;
}