* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-container {
    display: flex;
    align-items: center;
    /* min-height: 8vh; */
    width: 100%;
    
    background-color: rgb(41, 41, 41);
    font-family:'Kdam Thmor Pro', sans-serif;
    position: sticky;
    top: 0;
  }
  .logo {
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2rem;
  }
  .burger{
    margin-right: 20px;
    display: block;
    cursor: pointer;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
  }
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    height: 100vh;
}

.habits-background {
    width: 40%;
    height: auto;
    background: #D9D9D9;
    border-radius: 44px;
}

.light-gray {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.habit{
    margin-top: 10%;
    width: 100%;
    margin-left: 10%;
    display: flex;
    column-gap: 10%;
    margin-bottom: 10%;
}

.progress-bar {
    width: 70%;
}



.habit-name {
    z-index: 1000;
    position: absolute;
    margin-left: 13%;
}
.add-habit-button svg{
    width: 40px;
    height: 40px;
    fill: #D9D9D9;
    cursor: pointer;
}
.add-habit-button svg:hover{
    width: 40px;
    height: 40px;
    fill: #D9D9D9;
    transform: scale(1.2);
}
.login-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.form {
    width: 20%;
    height: auto;
    background: #D9D9D9;
    border-radius: 44px;
}
.register-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 5%;
}
.login-form{
    visibility: hidden;
}
.hide{
    visibility: hidden;
}
.show{
    display: block;
    /* visibility: visible; */
}
.button-40 {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .1rem .4rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .button-40:hover {
    background-color: #374151;
  }
  
  .button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .button-40 {
      padding: .1rem .4rem;
    }
}
.log-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.log-form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
    height: auto;

}
.log-form input{
    width: 30%;
}
.yes-checkbox{
    width: 145px;
    margin-left: 20px;
}
/* #reflection-dropdown{
    position: relative;
    display: inline-block;
    font-size: 20px;
} */
.reflection{
    width: 150px;
    z-index: 0;
}
.dropdown-content{
    display: none;
    padding: 3%;
    background-color: #D9D9D9;
    z-index: 100;
}

.dropdown-content li:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.show{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.log-notes{
    min-width: fit-content;
    text-align: center;
}
.single-habit-container img{
    width: 15vw;
    height: auto;
    margin: 5%;
  }
  .navbar-placeholder{
    height: 5vh;
    background-color: black;
    color: white;
  }
  .header-text{
    margin-top: 1%;
    text-align: center;
    font-size: 2.1rem;
  }
  .single-habit-container{
    display: grid;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    border: 1px solid black;
    margin-left: 33%;
    border-radius: 22px;
    width: fit-content;
    background-color: grey;
    padding: 2%;
    grid-template-columns: 1fr 1fr ;
    row-gap: 2%;
    justify-items: center;
  }
  .single-habit-container div{
    padding: 5%;
    border: 1px solid black;
    width: 80%;
    height: auto;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-align: center;
  }